
<div class="jumbotron">
    <div class="container">
    <h1>Kiyok Demo</h1>        
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-6">
        <h2>Countries</h2>
        <p>A country is a region that is identified as a distinct national entity in political geography. A country may be an independent sovereign state or one that is occupied by another state, as a non-sovereign or formerly sovereign political division, or a geographic region associated with sets of previously independent or differently associated people with distinct political characteristics.</p>
        <p><a class="btn btn-success" href="countries" role="button">Start working with countries&nbsp;<i class="fa fa-fw fa-sign-in"></i></a></p>
    </div>
    <div class="col-md-6">
        <h2>Provinces</h2>
        <p>A province is almost always an administrative division, within a country or state. The term derives from the ancient Roman provincia, which was the major territorial and administrative unit of the Roman Empire's territorial possessions outside Italy. The term province has since been adopted by many countries, and in those with no actual provinces, it has come to mean "outside the capital city".</p>
        <p><a class="btn btn-success" href="provinces" role="button">Start working with provinces&nbsp;<i class="fa fa-fw fa-sign-in"></i></a></p>
    </div>
    </div>
</div>
