<h1>Countries listing</h1>
 
<% if @countries.length == 0 %>
  <div class="alert alert-info">
    <strong>There are no countries yet, why don't you <%= render 'add_button', title: 'add', redirect: true %> one?</strong>
  </div>  
<% else %>
  <%= render 'countries/add_button', title: 'add country', redirect: true %>
<% end %>

<% if @countries.length != 0 %>
  <%= render 'table' %>
<% end %>
