<h1>Countries listing</h1>
 
<% if @countries.length == 0 %>
  <div class="alert alert-info">
    <strong>There are no countries yet, why don't you <%= render 'add_button', title: 'add', country: Country.new %> one?</strong>
  </div>  
<% else %>
  <%= render 'countries/add_button', title: 'add country', country: Country.new %>
<% end %>

<ul class="list-group">
  <% @countries.each do |country| %>
    <%= render 'countries/item', country: country %>    
  <% end %>
</ul>

