<h1><%= @country.name %></h1>

<h2 class="lead">Provinces</h2>

<% if @country.provinces.length == 0 %>
  <div class="alert alert-info">
    <strong>There are no provinces for this country yet, why don't you <%= render 'provinces/add_button', title: 'add', province: Province.new %> one?</strong>
  </div>  
<% else %>
  <%= render 'provinces/add_button', title: 'add province' %>
<% end %>

<ul class="list-group">
  <% @country.provinces.each do |province| %>
    <%= render 'province/item', province: province %>    
  <% end %>
</ul>


<p><a class="btn btn-xs btn-primary" href="/countries" role="button">Go back to countries listing&nbsp;<i class="fa fa-fw fa-arrow-left"></i></a></p>