<li class="list-group-item"><%= province.name %> 
    <%= link_to raw('edit&nbsp;<i class="fa fa-fw fa-edit"></i>'), edit_province_path(province), :class=>"btn btn-xs btn-primary" %>
    <%= link_to raw('delete&nbsp;<i class="fa fa-fw fa-trash"></i>'), province_path(province), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-xs btn-danger"%>
</li>