<tr>
    <td><%= province.name %></td>
    <td><%= link_to province.country.name, country_path(province.country) %></td>
    <td class="text-center" style="width:20%">
        <%= render 'provinces/edit_button', title: 'edit', province: province %>
        <%= link_to raw('delete&nbsp;<i class="fa fa-fw fa-trash"></i>'), province_path(province), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class=>"btn btn-xs btn-danger"%>
    </td>
</tr>