<table class="table table-responsive table-striped table-hover table-bordered">
  <tr>
    <th>Province name</th>
    <th>Country name</th>
    <th>Options</th>
  </tr>
  <% provinces.each do |province| %>
    <%= render 'provinces/row', province: province %>    
  <% end %>
</table>