<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>
 
 <p><a class="btn btn-xs btn-info" href="/provinces" role="button">Go back to provinces listing&nbsp;<i class="fa fa-fw fa-arrow-left"></i></a></p>
 <p><a class="btn btn-xs btn-primary" href="/countries" role="button">Go back to countries listing&nbsp;<i class="fa fa-fw fa-arrow-left"></i></a></p>